<div class="row-fluid">
	<div class="span12">
		<div class="well">
			<div class="row-fluid">
				<div class="span8">
					<div class="register">
						<h3>Register Now</h3>
						<form action="/user/register" method="post">
							<div class="row-fluid">
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>